
<h3 class = "header" >International Student School Review</h3>
<div class = "row">
	<% @schools.each do |school| %>
		<div class = "col-md-12">
			<div class = "struct">
				<h3><%= link_to school.title, school_path(school)  %></h3>
				<p style = "text-indent: 30px">Location: <%= school.location %></p>
			</div>
		</div>
	<% end %>
</div>